@import url("https://fonts.googleapis.com/css?family=Poppins:400,500");

.card-wrapper {
    height: 800px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 400 16px/1.5 'Poppins', sans-serif;
    background-color: #ffc629;
}

.card {
    max-width: 300px;
    border-radius: 1rem;
    background-color: #fffff9;
    transition: transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card:hover {
    transform: translate(-5px, -10px);
    box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.3);
}

.card button {
    border: none;
    cursor: pointer;
}

.card .top {
    position: relative;
    width: 300px;
    color: #fffff9;
    height: 450px;
    border-radius: 1rem 1rem 0 0;
    background: url('../images/dendi.jpg') no-repeat center center;
    background-size: cover;
}

.card .top::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
}

.card .top .social-buttons {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem;
    z-index: 1;
}

.card .top .social-buttons button {
    background: transparent;
}

.card .top .social-buttons button i {
    font-size: 1rem;
    color: #fffff9;
    margin-right: 0.5rem;
}

.card .top .social-buttons button:hover i {
    color: #ffc629;
}

.card .top .like {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    background: transparent;
    z-index: 1;
}

.card .top .like i {
    color: #fffff9;
    font-size: 1.3rem;
}

.card .top .text {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    z-index: 1;
}

.card .top .text .wrapper-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .top .text .wrapper-name i {
    font-size: 1rem;
    margin-left: 0.5rem;
    color: #009abf;
}

.card .top .text .wrapper-name .name {
    font-size: 1.4rem;
    font-weight: 500;
}

.card .top .text .title {
    font-size: .8rem;
}

.card .bottom {
    padding: 1rem 1.5rem 1.5rem;
    background-color: #f3efa1;
    border-radius: 0 0 1rem 1rem;
}

.card .bottom .desc {
    color: #1d252c;
}


.card .bottom .buttons {
    display: flex;
    margin-top: 2rem;
}

.card .bottom .buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1d252c;
    font-size: .7rem;
    margin-right: .5rem;
    background-color: #fdda64;
    border-radius: 1em;
    padding: 0.1rem 0.3rem;
}

.card .bottom .buttons button i {
    font-size: 1rem;
}

.card .bottom .buttons button:hover {
    filter: brightness(110%);
    animation: shake 0.5s;
}

.card .bottom .buttons button .personal-info {
    margin-left: .2rem;
}

.hexagon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 23px;
    margin: 11px 0;
    box-shadow: 0 15px 15px -2px rgba(0, 0, 0, .2);
    background-color: #ffc629;
}

.hexagon::before,
.hexagon::after {
    content: '';
    position: absolute;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.hexagon::before {
    bottom: 100%;
    border-bottom: 11px solid #ffc629;
}

.hexagon::after {
    top: 100%;
    border-top: 11px solid #ffc629;
}

.hexagon:hover {
    filter: brightness(110%);
    transform: translateY(-10px) scale(1,1);
}

.card * {
    transition: all .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes shake {
    25% {
        transform: translateY(10%);
    }
    50% {
        transform: translateY(-10%);
    }
    75%, 100% {
        transform: translateY(0);
    }
}